{% extends 'base.html' %}

{% block judul %} 
<h1 id="judul">KERANGKA</h1>

{% endblock judul %}

{% block kotak %}
    <p> Ini adalah website kerangka</p>
    
<center>
    <footer>
        <a href="#">@ Copyright Rio David Prasetyo</a>
    </footer>
</center>    
{% endblock kotak %}