{% extends 'base.html' %} 

{% block kotak %} 
<h1><font color="blue">DAFTAR BARANG DAN HARGA</font><br></h1>

<table border="1">
    <tr>
        <td>No</td>
        <td>Nama Barang</td>
        <td>Harga</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Meja Makan</td>
        <td>Rp.5.900.000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Kursi Jati</td>
        <td>Rp.3.700.000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Lemari</td>
        <td>Rp.6.100.000</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Rak Buku</td>
        <td>Rp.2.250.000</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Dipan</td>
        <td>Rp.5.800.000</td>
    </tr>
</table>

<center>
    <footer>
        <a href="#">@ Copyright Rio David Prasetyo</a>
    </footer>
</center>

{% endblock kotak %}