{% extends 'base.html' %}

{% block judul %} 
<h1 id="judul">MEBEL</h1>

{% endblock judul %}

{% block kotak %}
    <p> Mebel, perabot atau furnitur adalah perlengkapan rumah yang mencakup semua barang seperti kursi, meja, dan lemari. Mebel berasal dari kata movable, yang artinya bisa bergerak. Pada zaman dahulu meja kursi dan lemari relatif mudah digerakkan dari batu besar, tembok, dan atap. Sedangkan kata furniture berasal dari bahasa Prancis fourniture (1520–30 Masehi). Fourniture mempunyai asal kata fournir yang artinya furnish atau perabot rumah atau ruangan. Walaupun mebel dan furniture[1] punya arti yang beda, tetapi yang ditunjuk sama yaitu meja, kursi, lemari, dan seterusnya.
    Dalam kata lain, mebel atau furnitur adalah semua benda yang ada di rumah dan digunakan oleh penghuninya untuk duduk, berbaring, ataupun menyimpan benda kecil seperti pakaian atau cangkir. Mebel terbuat dari kayu, papan, kulit, sekrup, dll.</p>
    <p>Mebel bukan hanya bermanfaat untuk kenyamanan dan kerapian rumah saja tetapi juga mengusung makna-makna sosial yang menegaskan status sosial. Memang ada kursi yang berfungsi sebagai tempat duduk semata, tetapi ada kursi yang menegaskan kekuasaan. Karena itu dikenal kursi raja, kursi direktur, tahta. Dalam Bahasa Indonesia juga dikenal istilah "berebut kursi" yang artinya "berebut kekuasaan". Karena kursi juga mempunyai arti kekuasaan, maka kursi kekuasaan berlainan dengan kursi yang hanya sebagai tempat duduk. Kursi Raja penuh dengan ukir-ukiran yang rumit. Dan di istana, kursi raja paling bagus dan paling besar. Kursi bawahan raja, harus lebih sederhana dan kecil, walaupun secara finansial mampu menyediakan kursi yang lebih bagus.

        Bagaimana makna mebel pada zaman sekarang, dimana sudah jarang ada status raja. Kursi bisa dijadikan sarana menyampaikan status ekonomi seseorang. Seseorang tidak tampak kaya sampai dia menampakkannya dalam bentuk mebel yang mewah. Biasanya mebel mewah itu adalah mebel klasik. Mebel minimalis juga bisa mewah jika bahannya mahal, misalnya dari kayu jati berdiameter besar dan berukuran besar. Tanpa berbicara secara verbal, kursi sudah berbicara bahwa pemilik mebel ini adalah orang kaya.</p>

<center>
    <footer>
        <a href="#">@ Copyright Rio David Prasetyo</a>
    </footer>
</center>    
{% endblock kotak %}